/vendor
/node_modules
/public/build
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/logs/*.log
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
Dockerfile
.git
.gitignore
.editorconfig
phpunit.xml
tests
